*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.game
{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.workspace
{
	flex-basis: 50%;
	border: 1px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.info {
	flex-basis: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid grey;
	font-size: 3rem;
	font-family: sans-serif;
}

.info:before {
	content: 'Timeout: ';
}

.output
{
	flex-basis:50%;
	border: 1px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.current-target td,
.current-canvas td
{
	width: 4vw;
	height: 4vw;
}

.current-target td.current,
.current-canvas td.current {
	border: 2px solid #00bb00;
}

.buttons
{
	flex-basis:100%;
	border: 1px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons button {
	display: inline-block;
	line-height: 2rem;
	height: 2rem;
	margin: 0.1rem;
	width: 3rem;
}
